<div class="container">
<h1>Foods around <strong> <%= @given_location %></strong></h1>
<h4>Ordering by price</h4>
<br>
<div class="row" style="margin: 0 auto;">
<% @paginatable_array.each do |m| %>
<div class="col">
	<div class="card" style="width:300px;  margin:15px;">
    <img class="card-img-top" src="<%= m[:image] %>" alt="Card image" style="height:157px;">
    <div class="card-body">
      <h5 class="card-title font-weight-bold float-right"><%= m[:title] %></h5>
      <p class="card-text"><h2><%= ((m[:price].to_f/1000).to_f).round %></h2><h6 class="text-center"><a href="<%= m[:rest_link] %>"><%= m[:rest_title] %> </a></h6>		
		</p>
    </div>
  </div>
</div>
<% end %>
</div>
<br>
<div class="row">
	<div class="col-md-12">
	<%= paginate @paginatable_array %>
	</div>
</div>